
.text{
text-align:center;
font-size:100px;
color:white;
margin-top:-40px;
font-family: 'Hanalei Fill', cursive;
position: absolute;
top: 0;
left: 0;
font-size: 11vw;
font-weight: bold;
text-shadow: -1px -1px 0 #030303, 1px -1px 0 #030303, -1px 1px 0 #030303, 1px 1px 0 #030303;
-webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
}

.text:first-child {
  position: relative;
}